@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url(./css/reset.css);

:root{
    --fonte-titulo: 'Montserrat', sans-serif;
    --fonte-texto: 'Inter', sans-serif;
    --fonte-roboto: 'Roboto', sans-serif;
    
    --cor-fundo: #000000;
    --cor-marrom: #564d4d;
    --cor-vinho: #831010;
    --cor-vermelho: #db0000;
    --cor-branco: #ffffff;

}

html, body {
    min-height: 100vh;
}

body {
    font-family: var(--fonte-roboto);
    background-color: var(--cor-fundo);
    color: var(--cor-branco);
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

.titulo {
    font-family: var(--fonte-titulo);
    color: var(--cor-vermelho);

    text-shadow: var(--cor-vinho) 2px 2px 4px;
}

.texto {
    font-family: var(--fonte-texto);
}

#busca-filme {
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--cor-vermelho);
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    display: block;
    background-color: var(--cor-marrom);
    color: var(--cor-branco);
}

#botao-buscar {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 90%;
    background-color: var(--cor-vermelho);
    color: var(--cor-branco);
    cursor: pointer;
    box-shadow: var(--cor-vinho) 2px 2px 4px;
}

#botao-buscar:hover {
    background-color: var(--cor-vinho);
}

.filme-poster {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.filme-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

#movies {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap:1.5rem;
}

footer {
  margin-top: 32px;
  padding: 16px 0;
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
}